.border-radius-8{
    border-radius: 8px;
}

.primary-color-text{
    color: #029391;
}

.height-600{
    height: 600px;
}

.center-cropped{
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 270px;
    width: 850px;
}

.center-cropped-w700h300{
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 400px;
    width: 700px;
}

.success-alert{
    width: 70%;
    background-color: #0BF389;
    color: #000;
    padding: 2px;
    border-radius: 7px;
    text-align: center;
    margin: 0 auto;
}

.danger-alert{
    width: 70%;
    background-color: #fc4560;
    color: #fff;
    padding: 2px;
    border-radius: 7px;
    text-align: center;
    margin: 0 auto;
}
